@{
    ViewData["Title"] = "Advanced Chat";
}
<h1>@ViewData["Title"]</h1>

<p>Advanced Group Chat</p>
<body>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/advancedChat.js"></script>



</body>
